body {
  font-family: Arial, sans-serif;
  background-color: #4915F8;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.signin a {
  font-size: 15px;
  text-decoration: none;
}

.section1 {
  display: flex;
  flex-direction: row;
  align-items: center; 
  margin-left: 45px;
}

.section2 button {
  padding: 18px 50px;
  background-color: #f57113;
  color: white;
  font-weight: bold;
  font-size: 15px;
  border: 0px;
  border-radius: 30px;
  margin-top: 40px;
}

.container {
  display: flex;
  justify-content: space-around;
  padding-left: 70px;
  padding-right: 70px;
}

.container img {
  width: 500px;
}

.left-div, 
.right-div {
  style:"flex: 1 1 200px;"
}

.line-1 {
  font-size: 28px;
  color: white;
  margin-bottom: 0px;
}

.line-2 {
  font-size: 42px;
  font-weight: bold;
  color: white;
  margin-bottom: 0px;
  margin-top: 20px;

}

.line-3 {
  font-size: 20px;
  color: #d3d3d3;
}

.line-4 {
  color: #d3d3d3;
  font-weight: bold;
  font-size: 28px;
  padding-top: 150px;
  padding-bottom: 150px;
}

.center-div {
  display: flex;
  justify-content: center;
}

.line-5 {
  color: white;
  font-weight: bolder;
  font-size: 28px;
  margin-bottom: 20px;
}

.line-6 {
  color: white;
  font-size: 20px;
  font-weight: lighter;
}

.line-7 {
  color: white;
  font-size: 25px;
  font-weight: bold;
}

.line-8 {
  color: #d3d3d3;
  font-size: 11px;
  margin-bottom: 5px;
}

.images {
  align-items: center;
}

input[type='button'] {
  background-color: #f57113;
  color: white;
  font-weight: bold;
  font-size: 15px;
  border: 0px;
  border-radius: 15px;
}
a:visited {
  color: white;
}

a:hover {
  color: grey;
}